body {
    margin: auto;
    background-color: rgb(237, 248, 247);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.title-inlogning {
    color: rgb(16, 16, 177);
}

.input {
    height: 25px;
    color: navy;
    background-color: rgb(236, 246, 246);
    border: 1px solid rgb(162, 162, 243);
    outline: none;
}

.btn-signin {
    margin: 10px;
    background:papayawhip;
    border-radius: 5px;
    border: 1px solid rgb(16, 16, 49);
}
.btn-signin:hover {
    background: rgb(28, 246, 28);
    transition: 0.7s,
}
.btn-signup {
    background:papayawhip;
    border-radius: 5px;
    border: 1px solid rgb(16, 16, 49);
}

.btn-signup:hover {
    background: rgb(246, 87, 167);
    transition: 0.7s;
}

h5.text-btn {
    margin: 3px;
    color: navy;
}

.errors {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    margin: 15%;
    border: 1px solid black;
    background: red; 
    max-width: 500px;
}