body {
    margin: auto;
    background-color: rgb(237, 248, 247);
}

.notes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    background-color: rgb(238, 238, 248); 
    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 2px 2px 0px 0px rgb(202, 202, 228);
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: rgb(98, 36, 156);
}

/****************** MEDIA QUERIES **********/
@media (min-width: 780px) {
    body {
        max-width: 600px;
    }
}